<%- include('layouts/navbar'); -%>

<!DOCTYPE html>
<html lang="en">
<body>
<main id="main-body">
<form action="/login" method="POST" enctype="multipart/form-data" id="form-body"> 

  <div class="form-container">
  <img src="../img/imagen_2023-03-15_203601009-removebg-preview (1).png" style="height: 120px; width: 100px;" alt="">
  </div>


  <div class="form-container">
  <input type="text" class="form-control" placeholder="Correo" id="email" name="email"> 
  </div>

  <div class="form-container">
  <input type="password" class="form-control" placeholder="Password" id="password" name="password">
  </div>
  
  <div class="form-container">
  <button type="submit" id="sendMessageButton">Ingresar</button>
  </div>
  </form>  
</main>
</body>
</html>

<style>
  #main-body{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #form-body{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 80%;
    gap: 20px;
    
  }
  .form-container{
    text-align: center;
    
  }
  .form-container input {
    height: 50px;
    border: none;
    border-bottom: #25874D solid 1px;
    width: 100%;
  }
  .form-container button {
    background-color: #25874D;
    color: white;
    border-radius: 20px;
    border: none;
    height: 50px;
    width: 100%;
    transition: .2s
  }
  .form-container button:hover {
    background-color: #1a5c34;
  }
</style>

