<%- include('layouts/navbar'); -%>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/styles.css">
    <!-- FontAwesome-->
    <script src="https://kit.fontawesome.com/c1d78340ca.js" crossorigin="anonymous"></script> 
    <title>Document</title>
</head>
<body>
    <main id="body">
        <div style="display: grid; grid-template-columns: 1fr 1fr; margin: 20px; font-size: 1.3rem">
            <div>
                <i class="fa-solid fa-chevron-left"></i>
            </div>
            <div style="text-align: end;">
                <i class="fa-solid fa-question"></i>
            </div>
        </div>

        <header id="header" style="align-items: center; margin-top: 10px">
            <div class="header-child h-child-2" style="justify-content:inherit"> <a href="/" class="h2-child h2-child-2"></a></div>
        </header>

        <div style="margin: 20px; font-size: 1.2rem">
            <p>Nombre:</p>
            <p>Axel Antonia Chacón Torres</p>
            <br>
            <p>Carrera:</p>
            <p>Ingenieria en Sistemas Computacionales</p>
            <br>
            <p>Matricula:</p>
            <p>23611</p>
            <br>
            <p>Semestre:</p>
            <p>Octavo Semestre</p>
            <br>
            <p>Correo Instucional:</p>
            <p>a23611@halcones.ual.mx</p>
        </div>


        <div style="display: flex; align-items:center; justify-content: center">
            <img src="../img/imagen_2023-03-15_203601009-removebg-preview (1).png" style="width: 20%; margin-top: 60px;" alt="">
        </div>


    </main>
</body>
</html>